<template>
<div>
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">Overflow of Words</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item" v-for="n in 7">
            <a class="nav-link js-scroll-trigger" :href="`/?date=202104${21 + n}`">{{21 + n}}</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <header class="masthead">
    <div class="container h-100">
      <div class="row h-100">
        <div class="col-lg-6 my-auto">
          <div class="row">
            <div class="col-lg-12 predict">
              <div class="mx-auto">
                   <img v-if="response" :src="require(`~/assets/img/${response}.png`)" style="padding-bottom: 12px" />
                   <input style="zindex: 10001" type="text" class="form-control" placeholder="error when installing flask on a virtual machine" v-model="question" />
                   <button class="btn btn-primary" @click="predict">Predict</button>

                   <table class="table table-striped">
  <thead>
    <tr>
      <th scope="col" colspan="2">Stats of the day</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Max Votes</th>
      <td>{{ stats.maxVotes }}</td>
    </tr>
    <tr>
      <th scope="row">Min Votes</th>
      <td>{{ stats.minVotes }}</td>
    </tr>
    <tr>
      <th scope="row">Average Votes</th>
      <td>{{ stats.averageVotes }}</td>
    </tr>
    <tr>
      <th scope="row">Max Answers</th>
      <td>{{ stats.maxAnswers }}</td>
    </tr>
    <tr>
      <th scope="row">Min Answers</th>
      <td>{{ stats.minAnswers }}</td>
    </tr>
    <tr>
      <th scope="row">Average Answers</th>
      <td>{{ stats.averageAnswers }}</td>
    </tr>
    <tr>
      <th scope="row">Max Views</th>
      <td>{{ stats.maxViews }}</td>
    </tr>
    <tr>
      <th scope="row">Min Views</th>
      <td>{{ stats.minViews }}</td>
    </tr>
    <tr>
      <th scope="row">Average Views</th>
      <td>{{ stats.averageViews }}</td>
    </tr>
  </tbody>
  </table>

                   
              </div>
            </div>
          </div>

          <div class="header-content mx-auto">
          </div>
        </div>
        <div class="col-lg-6 my-auto">
          <div class="device-container">
            <div class="device-mockup iphone6_plus portrait white">
              <div class="device">
                <div class="screen">
                  <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                  <img :src="`https://iteso-sisdists.s3.amazonaws.com/${date}.png`" class="img-fluid" alt="">
                </div>
                <div class="button">
                  <!-- You can hook the "home button" to some JavaScript events or just remove it -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
</div>
</template>

<script>
export default {
  data: function() {
    return {
      response: null,
      question: '',
      stats: {}
    }
  },
  methods: {
    predict(event) {
      if (this.question){
        this.response = null
        fetch('https://3w2xceo7u3.execute-api.us-east-1.amazonaws.com/default/iteso-sisdist-predict?q=' + this.question)
          .then(response => response.json())
          .then(data => {this.response = data["language"]});
      }
    },
    getStats() {
      fetch(`https://iteso-sisdists.s3.amazonaws.com/${this.date}-stats.json`)
        .then(response => response.json())
       .then(data => {
         this.stats = {
           maxVotes: data[0],
           minVotes: data[1],
           averageVotes: new Intl.NumberFormat('en-US', {style: 'decimal'}).format(data[2]),
           maxAnswers: data[3],
           minAnswers: data[4],
           averageAnswers: new Intl.NumberFormat('en-US', {style: 'decimal'}).format(data[5]),
           maxViews: data[6],
           minViews: data[7],
           averageViews: new Intl.NumberFormat('en-US', {style: 'decimal'}).format(data[8])
         }
       });
    }

  },
  created() {
    var param = this.$route.query.date || '';
    param = param.replaceAll('-', '');
    var today = new Date();
    var dd = today.getDate();
    var mm = today.getMonth()+1; //January is 0!
    var yyyy = today.getFullYear();

    if(dd<10) {
      dd = '0'+dd
    }

    if(mm<10) {
      mm = '0'+mm
    }

    today = yyyy + mm + dd;
    today = param || today;
          this.date = today;
this.getStats();
         }
};
</script>

<style>
  .predict * {
  margin-bottom: 6px;
  }

  table {
    background-color: white;
    border-radius: 5px;
    margin-top: 6px;
  }

  .table th, .table td {
    padding: 3px;
}
</style>
